<!DOCTYPE html>
<html>
<head>
  <title>Omg image</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "omg_image/application", media: "all" %>
  <%= javascript_include_tag "omg_image/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
