<% accent_color         = '#FFF' %>
<% color                = '#FFF' %>
<% dark_color           = "#000" %>
<% description_bg_color = 'yellow' %>
<% description_color    = '#000' %>
<% border_color         = '#000' %>
<% shadow_color         = '#555' %>

<style>
  body{
    background: white;
    margin:0;
    padding:0;
    overflow: hidden;
    position:relative;
  }
  .preview-div-wrapper {
    overflow: hidden;
    position:relative;
  }
  .preview-div {
    background: #fff;
    border: 0.25vw solid <%= border_color %>;
    box-shadow: 0.8vw 1vw 0px <%= shadow_color %>;
    width: 88vw;
    height: 44vw;
    margin: 2.5vw auto 5vw;
    overflow: hidden;
    position:relative;
  }
  .preview-info-header {
    color: black;
    margin: 2vw auto 0vw;
    font-family:  "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 3.5vw;
    width: 92%;
  }
  h1 {
    color: <%= dark_color %>;
    width: 92%;
    margin: 1vw auto;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
  .preview-description {
    font-size: 3.5vw;
    position: absolute;
    left: 1.5vw;
    bottom: 1.5vw;
    padding: 1vw 2vw;
    font-weight: 300;
    display: flex;
    flex-flow: row;
    height: 4vh;    
    align-items: center;
  }
  .preview-description img {
    display: inline-block;
    width: 3vw;
  }
  .preview-description span {
    font-size: 2.0vw;
    padding-top: 1vh;
    padding-left: 0.5vw;
  }
  .preview-tags {
    position: absolute;
    right: 1.5vw;
    bottom: 1.5vw;
    padding: 1vw 2vw;
    font-weight: 300;
  }
  .preview-tags .tag {
    font-size: 2.0vw;
    margin-right: 0.8vw;
    padding: 0.4vw 0.8vw;
  }
</style>

<div class="preview-div-wrapper">
  <div class="preview-div">
    <% font_size = 15 - (((title.size**0.89)+85)/16) %>
    <h1 style="font-size:<%= font_size %>vw;"><%= raw title %><h1>

    <div class="preview-description">
      <%= image_tag 'logo.svg' %>
      <span><%= description %></span>
    </div>

    <% if tags.any? %>
      <div class="preview-tags">
        <% shift = rand(10) %>
        <% tags.each_with_index do |tag, index| %>
          <% color = assigned_color(shift + index) %>
          <span class='tag' style="background: <%= color[:bg] %>; color: <%= color[:text] %>">
            <%= tag %>
          </span>
        <% end %>
      </div>
    <% end %>

  </div>
</div>